Repository stac-utils/stactools, pull requests merged in 2021-06, with the labels that each got.

#119 Small typo fix
  README.md
Labels: bug, documentation

#118 Remove leftover debugging code from s2 test
  tests/sentinel2/test_commands.py
Labels: bug, sentinel2

#121 Offset boundaries from center of pixel for landsat
  stactools_landsat/stactools/landsat/mtl_metadata.py
  tests/landsat/test_create_stac.py
Labels: landsat

#122 Fix issue in sentinel 2 metadata where 0 z coordinates are listed.
  stactools_sentinel2/stactools/sentinel2/product_metadata.py
  tests/data-files/sentinel2/S2A_MSIL2A_20150826T185436_N0212_R070_T11SLT_20210412T023147/MTD_MSIL2A.xml
  tests/data-files/sentinel2/S2A_MSIL2A_20150826T185436_N0212_R070_T11SLT_20210412T023147/MTD_TL.xml
  tests/sentinel2/test_metadata.py
Labels: bug, sentinel2

#125 Strip relative path prefix from Sentinel 2 assets.
  stactools_sentinel2/stactools/sentinel2/safe_manifest.py
  tests/sentinel2/test_commands.py
Labels: sentinel2

#127 Added version command
  stactools_cli/stactools/cli/__init__.py
  stactools_cli/stactools/cli/commands/version.py
  tests/cli/commands/test_version.py
Labels: enhancement
