Repository stac-utils/stactools, pull requests merged in 2021-05, with the labels that each got.

#100 Use any asset to retrieve projection information for Landsat items
  stactools_landsat/stactools/landsat/utils.py
  tests/data-files/landsat/LC08_L2SP_030034_20201111_20201212_02_T1_SR_stac.json
  tests/data-files/landsat/LC08_L2SR_081119_20200101_20200823_02_T2_MTL.json
  tests/data-files/landsat/LC08_L2SR_081119_20200101_20200823_02_T2_SR_stac.json
  tests/data-files/landsat/LC08_L2SR_232122_20191218_20201023_02_T2_SR_stac.json
  tests/data-files/landsat/LE07_L2SP_167064_20070321_20200913_02_T1_SR_stac.json
  tests/data-files/landsat/LT05_L2SP_201034_19860504_20200917_02_T1_SR_stac.json
  tests/landsat/test_commands.py
Labels: landsat

#105 Convert a landsat convert test to local
  tests/landsat/test_commands.py
Labels: landsat

#109 Tweak to adapt to USGS changes
  stactools_landsat/stactools/landsat/utils.py
Labels: landsat

#73 better handling for skysat images
  stactools_planet/stactools/planet/planet_item.py
Labels: planet

#88 Sentinel 2 L2A: Add band assets for lower spatial res versions
  stactools_sentinel2/stactools/sentinel2/constants.py
  stactools_sentinel2/stactools/sentinel2/stac.py
  tests/sentinel2/test_commands.py
Labels: sentinel2
